.wave {
  width: 100%;
  height: 100%;
}

.waves {
  animation: Wave 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes Wave {
  0% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 74.42820512820512,185.56410256410254 148.85641025641024,171.1282051282051 234,172 C 319.14358974358976,172.8717948717949 415.0025641025642,189.05128205128207 496,198 C 576.9974358974358,206.94871794871793 643.1333333333333,208.66666666666666 712,206 C 780.8666666666667,203.33333333333334 852.4641025641026,196.2820512820513 929,209 C 1005.5358974358974,221.7179487179487 1087.0102564102565,254.20512820512818 1173,256 C 1258.9897435897435,257.7948717948718 1349.4948717948719,228.8974358974359 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 105.43333333333334,192.1974358974359 210.86666666666667,184.3948717948718 282,187 C 353.1333333333333,189.6051282051282 389.9666666666667,202.6179487179487 456,213 C 522.0333333333333,223.3820512820513 617.2666666666667,231.13333333333335 712,234 C 806.7333333333333,236.86666666666665 900.9666666666667,234.84871794871793 984,236 C 1067.0333333333333,237.15128205128207 1138.8666666666666,241.47179487179488 1213,236 C 1287.1333333333334,230.52820512820512 1363.5666666666666,215.26410256410256 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 88.4128205128205,180.34102564102565 176.825641025641,160.6820512820513 261,164 C 345.174358974359,167.3179487179487 425.1102564102564,193.61282051282052 502,190 C 578.8897435897436,186.38717948717948 652.7333333333332,152.86666666666665 720,161 C 787.2666666666668,169.13333333333335 847.9564102564102,218.92051282051284 930,217 C 1012.0435897435898,215.07948717948716 1115.4410256410256,161.45128205128205 1204,150 C 1292.5589743589744,138.54871794871795 1366.2794871794872,169.27435897435896 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 95.00769230769234,186.38717948717948 190.01538461538468,172.774358974359 268,174 C 345.9846153846153,175.225641025641 406.94615384615383,191.2897435897436 479,202 C 551.0538461538462,212.7102564102564 634.2,218.06666666666663 725,200 C 815.8,181.93333333333337 914.2538461538463,140.44358974358977 989,149 C 1063.7461538461537,157.55641025641023 1114.7846153846153,216.15897435897435 1186,233 C 1257.2153846153847,249.84102564102565 1348.6076923076923,224.92051282051284 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 74.42820512820512,185.56410256410254 148.85641025641024,171.1282051282051 234,172 C 319.14358974358976,172.8717948717949 415.0025641025642,189.05128205128207 496,198 C 576.9974358974358,206.94871794871793 643.1333333333333,208.66666666666666 712,206 C 780.8666666666667,203.33333333333334 852.4641025641026,196.2820512820513 929,209 C 1005.5358974358974,221.7179487179487 1087.0102564102565,254.20512820512818 1173,256 C 1258.9897435897435,257.7948717948718 1349.4948717948719,228.8974358974359 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
}
